---
singletons:
- javax.sql.DataSource:
  - com.zaxxer.hikari.HikariDataSource:
      DriverClassName: com.mysql.jdbc.Driver
      jdbcUrl: jdbc:mysql://mysql:3306/todo_db?useSSL=false
      username: mysqluser
      password: mysqlpw
- com.networknt.portal.usermanagement.model.jdbc.DatabaseSchema:
  - com.networknt.portal.usermanagement.model.jdbc.DatabaseSchema:
    - java.lang.String: none
- com.networknt.portal.usermanagement.model.common.model.user.UserRepository:
  - com.networknt.portal.usermanagement.model.jdbc.user.UserRepositoryImpl
- com.networknt.portal.usermanagement.model.common.crypto.PasswordSecurity:
  - com.networknt.portal.usermanagement.model.common.crypto.Pbkdf2PasswordSecurityImpl
- com.networknt.eventuate.common.impl.sync.AggregateCrud:
  - com.networknt.eventuate.client.EventuateLocalDBAggregateCrud
- com.networknt.eventuate.common.impl.AggregateEvents:
  - com.networknt.eventuate.client.KafkaAggregateSubscriptions
- com.networknt.eventuate.common.impl.AggregateCrud:
  - com.networknt.eventuate.common.impl.adapters.SyncToAsyncAggregateCrudAdapter
- com.networknt.eventuate.common.SnapshotManager:
  - com.networknt.eventuate.common.SnapshotManagerImpl
- com.networknt.eventuate.common.MissingApplyEventMethodStrategy:
  - com.networknt.eventuate.common.DefaultMissingApplyEventMethodStrategy
- com.networknt.eventuate.common.EventuateAggregateStore:
  - com.networknt.eventuate.common.impl.EventuateAggregateStoreImpl
- net.lightapi.portal.form.domain.FormAggregate:
  - net.lightapi.portal.form.domain.FormAggregate
- net.lightapi.portal.form.FormRepository:
  - net.lightapi.portal.form.FormRepositoryArangoImpl
- net.lightapi.portal.form.FormQueryEventHandler:
  - net.lightapi.portal.form.FormQueryEventHandler
- com.networknt.eventuate.event.EventHandlerProcessor:
  - com.networknt.eventuate.event.EventHandlerProcessorDispatchedEventReturningVoid
  - com.networknt.eventuate.event.EventHandlerProcessorDispatchedEventReturningCompletableFuture
  - com.networknt.eventuate.event.EventHandlerProcessorEventHandlerContextReturningCompletableFuture
  - com.networknt.eventuate.event.EventHandlerProcessorEventHandlerContextReturningVoid
- com.networknt.eventuate.client.SubscriptionsRegistry:
  - com.networknt.eventuate.client.SubscriptionsRegistryImpl
- net.lightapi.portal.menu.domain.MenuAggregate:
  - net.lightapi.portal.menu.domain.MenuAggregate
- net.lightapi.portal.menu.domain.MenuItemAggregate:
  - net.lightapi.portal.menu.domain.MenuItemAggregate
- net.lightapi.portal.menu.MenuRepository:
  - net.lightapi.portal.menu.MenuRepositoryArangoImpl
- net.lightapi.portal.menu.MenuQueryEventHandler:
  - net.lightapi.portal.menu.MenuQueryEventHandler